*,
*::before,
*::after
    box-sizing: border-box

html,
body
    width: calc(var(--vw) * 100)
    height: calc(var(--vh) * 100)

body
    background-color: var(--lightgrey)
    color: var(--gray)
    font-family: Ubuntu, sans-serif, serif
    font-size: 13px
