:root
    --vw: 1vw
    --vh: 1vh

    --white: #FFF
    --black: #000
    --blue: #3399FF
    --yellow: #FFE06D
    --red: #FF7360
    --dark: #091C28
    --green: #66CC66
    --lightgreen: #73FF82
    --gray: #333333
    --lightgray: #979797
    --grey: #EDEEEE
    --lightgrey: #F9F9F9
